<div class="portfolio-container">
  <div class="cards">
    <div class="card-title">
      <p>Colegio San Patricio</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'https://www.sanpatriciotucuman.edu.ar', target: '_blank' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1085/v1590693502/Captura_de_Pantalla_2020-05-28_a_la_s_16.16.51.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Cotton Complementos</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'http://www.cottoncomplementos.com.ar', target: '_blank' do %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1085/v1590693475/Captura_de_Pantalla_2020-05-28_a_la_s_16.17.18.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Ski the World</p>
      <button class="btn-card offline">OFFLINE</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_802/v1559070062/Captura_de_Pantalla_2019-05-28_a_la_s_15.55.44.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Lamebo</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_576/v1559070031/Captura_de_Pantalla_2019-05-28_a_la_s_15.51.48.jpg" alt="">
    <% end %>
  </div>
    <div class="cards">
    <div class="card-title">
      <p>Huinca Renanco Norte SRL</p>
      <button class="btn-card offline">OFFLINE</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1124/v1559070097/Captura_de_Pantalla_2019-05-28_a_la_s_15.59.09.jpg" alt="">
    <% end %>
  </div>
    <div class="cards">
    <div class="card-title">
      <p>Lamebo</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1430&q=80" alt="">
    <% end %>
  </div>
</div>
