<div class="portfolio-container">
  <div class="cards">
    <div class="card-title">
      <p>Colegio San Patricio</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'https://www.sanpatriciotucuman.edu.ar', target: '_blank' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1085/v1590693502/Captura_de_Pantalla_2020-05-28_a_la_s_16.16.51.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Cotton Complementos</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'http://www.cottoncomplementos.com.ar', target: '_blank' do %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_668/v1591110621/Captura_de_Pantalla_2020-06-01_a_la_s_18.37.59.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Ski the World</p>
      <button class="btn-card offline">OFFLINE</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_668/v1591110627/Captura_de_Pantalla_2020-06-02_a_la_s_11.19.21.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Lamebo</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'http://www.lamebo.com.ar', target: '_blank' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_576/v1559070031/Captura_de_Pantalla_2019-05-28_a_la_s_15.51.48.jpg" alt="">
    <% end %>
  </div>
    <div class="cards">
    <div class="card-title">
      <p>Douchebags Argentina</p>
      <button class="btn-card offline">OFFLINE</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_668/v1591110616/Captura_de_Pantalla_2020-06-02_a_la_s_12.07.40.jpg" alt="">
    <% end %>
  </div>
    <div class="cards">
    <div class="card-title">
      <p>Rental Car</p>
      <button class="btn-card process">IN PROCESS</button>
    </div>
    <%= link_to '#' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_668/v1591111131/Captura_de_Pantalla_2020-06-02_a_la_s_12.17.47.jpg" alt="">
    <% end %>
  </div>
</div>
