<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="main-container text-xs-center">
    <h2>GUILLERMO VARELA</h2>
    <p>Love desing</p>
    <div class="button-container">
      <%= link_to 'CONTACT','#', class: 'btn-main'  %>
      <%= link_to 'ABOUT','#', class: 'btn-main secondary'  %>
    </div>
  </div>
</div>
<div class="main-title">
  <h2>Proyects</h2>
</div>
<section id="portfolio">
  <%= render 'shared/profile_cards' %>
</section>
<div class="main-title">
  <h2>ABOUT</h2>
</div>
<section id="about">
  <%= render 'shared/about' %>
</section>
<%= form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <%= f.label :name %> <br>
    <%= f.text_field :name, required: true %>

    <br>
    <%= f.label :email %> <br>
    <%= f.text_field :email, required: true %>

    <br>
    <%= f.label :message %> <br>
    <%= f.text_area :message, as: :text %>


    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>


    <%= f.submit 'Send Message', class: "button" %>
  <% end %>
